*.h5
*.h5ad
*.h5seurat
*.pt
*.npy
*.hdf5
*.rar
*.zip
*.bmp
*.csv
*.rds
*.png
*:Zone.Identifier
*.xls
*.xml
*.csv.gz
*.gz
*.pdf
*.tar
*.RData
*.Rd
*.pyc
*.pkl
home/wsl20/Projects/RNA2prot/sciPENN/sciPENN/sciPENN_tutorial-20240120T125108Z-001/sciPENN_tutorial/pbmc_to_pbmc/
scGPT/
wandb/
result/
dist/
!*.py
!*.ipynb